/*-----------------------------------*/
/* MAIN SECTION */
#mainProfile {
	position: absolute;	
	top: 0;
	left: 1%;
	right: 1%;
}

#photoSection {
	text-align: center;
	max-width: 100%;
	padding: 0 25%;
	margin-top: 50px;
}

.photo {
	border-radius: 50%;
	width: 200px;
	height: 200px;
}

#short {
	color: black;
	text-align: center;
	max-width: 100%;
	padding: 0 25%;
	margin-top: 40px;
}

#short p {
	font-size: 30px;
}

.striked {
	text-decoration: line-through;
}