body {
	/*display: none;*/
	font-family: 'BenchNine', sans-serif;
	background-color: white;
	overflow-y: hidden;
	overflow-x: hidden;
}

#canContainer {
	width: 100%;
	height: 787px;
	text-align: center;
	position: relative;
	z-index: 1;
}

/*-----------------------------------*/
/* MAIN SECTION */
#mainProfile {
	position: absolute;	
	top: 0;
	left: 1%;
	right: 1%;
}

#photoSection {
	text-align: center;
	max-width: 100%;
	padding: 0 25%;
	margin-top: 50px;
}

.photo {
	border-radius: 50%;
	width: 200px;
	height: 200px;
}

#short {
	color: black;
	text-align: center;
	max-width: 100%;
	padding: 0 25%;
	margin-top: 40px;
}

#short p {
	font-size: 30px;
}

.striked {
	text-decoration: line-through;
}

/*-----------------------------------*/
/* MENU */
#menuButton {
	width: 50px;
	height: auto;
	position:fixed;
	top: 1%;
	right: 40px;
	z-index: 2;
}

#menuButton:hover {
	cursor: pointer;
}

#menu {
	display: none;
	font-size: 30px;
	position: absolute;
	top: 7%;
	right: 13px;
	z-index: 2;
}

#menu a {
	color: black;
}

#menu li {
	margin: 15px 0;
}

.social {
	width: 30px;
	height: auto;
}

/*-----------------------------------*/
/* PORTFOLIO SECTION */
#projects {
	position: absolute;
	top: 1%;
	left: 10px;
	overflow-x: scroll;
	max-height: 98%;
	z-index: 2;
}

.singleProject {
	font-size: 30px;
	text-align: center;
	width: 150px;
	height: 150px;
	color: white;
	background-color: black;
	margin-bottom: 10px;
}

.singleProject p {
	padding-top: 40%;
}

.singleProject:hover {
	color: black;
	background-color: white;
	border-style: solid;
	border-width: 2px;
	border-color: black;
}

#drawComment {
	font-size: 30px;
	position: absolute;
	top: 350px;
	left: 200px;
	max-width: 30%;

}

/*-----------------------------------*/
/* SANDBOX SECTION */
#tape {
	color: black;
	font-size: 30px;
	width: 100%;
	padding: 5px 0;
	position: absolute;
	bottom: 50%;
	/* Starting position */
	 -moz-transform:translateX(100%);
	 -webkit-transform:translateX(100%);	
	 transform:translateX(100%);
	 /* Apply animation to this element */	
	 -moz-animation: tape 30s linear infinite;
	 -webkit-animation: tape 30s linear infinite;
	 animation: tape 30s linear infinite;
}

/* slide accross animation*/
@-moz-keyframes tape {
	0%   { -moz-transform: translateX(100%); }
	100% { -moz-transform: translateX(-100%); }
}

@-webkit-keyframes tape {
	0%   { -webkit-transform: translateX(100%); }
	100% { -webkit-transform: translateX(-100%); }
}

@keyframes tape {
 0%   { 
		-moz-transform: translateX(100%);
		-webkit-transform: translateX(100%);
		transform: translateX(100%); 		
	}

 100% { 
		-moz-transform: translateX(-100%);
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%); 
	}
}

#gulpProject {
	width: 90px;
	height: auto;
	position: absolute;
	bottom: 70%;
	left: 10px;
	transform: rotate(25deg);
	z-index: 2;
}

#gulpProject:hover {
	width: 100px;
	height: auto;
}

#RPS {
	width: 150px;
	height: auto;
	position: absolute;
	bottom: 20%;
	left: 200px;
	transform: rotate(25deg);
	z-index: 2;
}

#RPS:hover {
	width: 160px;
	height: auto;
}

/*-----------------------------------*/
/* CONTACT SECTION */
#contactBody {
	background-image: url("../images/city.jpg");
	background-size: 60%;
	background-repeat: no-repeat;
}

#contactForm {
	width: 50%;
	height: auto;
	text-align: center;
	position: absolute;	
	top: 20%;
	left: 25%;
	right: 25%;
	z-index: 2;
}

#contactForm input {
	font-size: 30px;
	border-color: black;
}

#contactForm textarea {
	font-size: 20px;
	width: 100%;
	height: 300px;
	border-radius: 5px;
	resize: none;
}

#message:focus {
	background-color: white;
}

#submitButton {
	border-radius: 5px;
	border-color: black;
	background-color: white;
	margin-top: 10px;
}

/*-----------------------------------*/
/* DRAWING TOOLS */
.tools {
	position:fixed;
	bottom: 10px;
	left: 47%;
	z-index: 2;
}

.tools img {
	width: 20px;
	height: auto;
}

#black:hover {
	width: 40px;
	height: auto;
}

#white:hover {
	width: 40px;
	height: auto;
}

#clearButton {
	width: 30px;
	height: auto;
	color: black;
	position: fixed;
	right: 10px;
	bottom: 10px;
	z-index: 2;
}

#clearButton:hover {
	cursor: pointer;
	animation: shake 0.5s;
	animation-iteration-count: 1;
	width: 40px;
	height: auto;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
}

/*-----------------------------------*/
/* MEDIA QUERY */
@media only screen 
  	and (min-device-width: 375px) 
  	and (max-device-width: 667px) 
  	and (-webkit-min-device-pixel-ratio: 2) {

	html{
        overflow: hidden;
        width:100%;
    }
    body{
        height:100%;
        position:fixed; /* prevent overscroll bounce*/
        background-color: white;
        overflow: hidden;
        -webkit-overflow-scrolling: touch; /* iOS velocity scrolling */
        width:100%;                    
        margin-left:25%;
    }

}
